EXPO_PUBLIC_API_URL=https://api.template.com

EXPO_PUBLIC_ENCRYPTION_KEY=abc123

EXPO_PUBLIC_ACCOUNT_TEST=demo@gmail.com

# Debug
EXPO_PUBLIC_SHEETS_WEBHOOK_URL=

# Testes Stage
EXPO_PUBLIC_LOCAL=true
EXPO_PUBLIC_MOCK=true
EXPO_PUBLIC_STAGE=true